/ div class="clearfix"
  = link_to(new_quotation_path, class: 'btn btn-secondary float-right') do
    span Create new Quotation

= render partial: 'list_items', locals: { items: @quotations, pagy: @pagy }

